@media screen and (max-width:1009px){
	div.e0{
		width:100%;
	}
	div.container1{
		width:100%;
	}
	div.e2{
		width:97%;
	}
	div.tab{
		width: 70%;
	}
	div.sidetab{
		width: 27%;
	}
	div.glavna{
		left:0px;
		width: 98%;
		height: 100%;
	}
	div.e0-2{
		width: 100%;
	}
	div.e2-2{
		width:97%;
		height: 1500px;
	}
	#left-column5{
		width: 100%;
	}
	#right-column2{
		width: 100%;
	}
	div.e2-5{
		width:97%;
		height: 1000px;
	}

}
@media screen and (max-width:640px){
	div.e0{
		width:100%;
		height: 1580px;
	}	
	div.container1{
		width:100%;
	}
	div.e2{
		width:97%;
		height:1300px;
	}
	img{
		width:100%;
	}
	div.e1{
		width:30%;
	}
	div.title{
		width:100%;
	}
	#left-column1{
		width: 100%;
	}
	#left-column1-1{
		width: 100%;
	}
	#left-column2{
		width: 100%;
	}
	#left-column3{
		width: 100%;
	}
	#left-column4{
		width: 100%;
	}
	#left-column5{
		width: 100%;
	}
	#right-column{
		width: 100%;
	}
	div.nav1{
		width: 100%;
	}
	div.nav2{
		width: 100%;
	}
	div.nav3{
		width: 100%;
	}
	div.nav4{
		width: 100%;
	}
	div.nav5{
		width: 100%;
	}
	div.nav6{
		width: 100%;
	}
	.tab button{
		width:100%;
	}
	div.tab{
		height: 270px;
	}
	div.e2-2{
		width:97%;
		height: 1800px;
	}
}
@media screen and (max-width:320px){
	div.e0{
		width: 320px;
	}
	
}

